# فایل‌ها و پوشه‌های پایتون
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# پوشه‌های مربوط به Git
.git
.gitignore

# لاگ‌ها
*.log

# پوشه‌های موقت و کش
tmp/
*.tmp
*.swp
*.swo

# پوشه‌های خروجی و build
build/
*.egg-info/

# فایل‌های سیستم عامل
.DS_Store
Thumbs.db

# پوشه‌های مربوط به IDE
.vscode/
.idea/

# رسانه‌ها (در صورت ذخیره محلی)
media/
